.content {
  width: 100%;
}

.content .acrossWorld {
  padding: 140px 0vw;
  display: flex;
  flex-direction: column;
}

.content .acrossWorld .carouselWhite {
  width: 80px;
  height: 600px;
  background-color: white;
  position: absolute;
  z-index: 5;
}

.content .acrossWorld .carouselText {
  margin: 0 auto;
  width: 450px;
  height: 100px;
  text-align: center;
}

.content .acrossWorld .carouselText .aWTitleSmall {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .acrossWorld .carouselText .aWTitleBig {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.content .acrossWorld .carouselPics {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content .acrossWorld .carouselPics .carousel {
  width: 700px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

.content .acrossWorld .carouselPics .carousel .carouseUl {
  list-style-type: none;
  display: flex;
  position: absolute;
}

.content .acrossWorld .carouselPics .carousel .carouseUl .active {
  transform: scale(1.07);
  /* Scale up the active item */
}

.content .acrossWorld .carouselPics .carousel .carouseUl .activeNaN {
  transform: scale(1);
  /* Scale up the active item */
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseLi {
  width: 650px;
  height: 405px;
  margin: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  transition: all 0.8s ease;
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseEgHidden {
  background-image: url(../img/caro/rotate4.jpeg);
  visibility: hidden;
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseFr {
  background-image: url(../img/caro/rotate1.jpeg);
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseIn {
  background-image: url(../img/caro/rotate2.jpeg);
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseGr {
  background-image: url(../img/caro/rotate3.jpeg);
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseEg {
  background-image: url(../img/caro/rotate4.jpeg);
}

.content .acrossWorld .carouselPics .carousel .carouseUl .carouseFrHidden {
  background-image: url(../img/caro/rotate1.jpeg);
  visibility: hidden;
}

.content .acrossWorld .carouselPics .carouselButton {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 410px;
  cursor: pointer;
}

.content .acrossWorld .carouselPics .carouselButton .carButtonIcon {
  width: 60px;
  height: 60px;
  margin: 6px;
  background-color: white;
  border-radius: 50%;
  border-color: #efeff7;
  border-style: solid;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  /* Smooth scaling effect */
}

.content .acrossWorld .carouselPics .carouselButton .carButtonIcon .carButtonImg {
  width: 16px;
}

.content .acrossWorld .carouselPics .carButtonLeft:hover,
.content .acrossWorld .carouselPics .carButtonRight:hover {
  transform: scale(1.04);
  background-color: #f7f8fc;
  /* Scale up the button on hover */
}

.content .chooseDes {
  height: 1173px;
  margin-left: 80px;
  background-color: #f7f8fc;
  position: relative;
  display: flex;
  justify-content: center;
}

.content .chooseDes .chooseDesContainer {
  width: 83%;
  height: 893px;
  padding: 140px 0px 140px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper {
  width: 100%;
  height: 436px;
  display: flex;
  justify-content: space-between;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft {
  width: 475px;
  height: 400px;
  padding: 18px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft div:first-child {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft div:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft div:nth-child(3) {
  color: #516381;
  font-size: 19px;
  line-height: 1.6em;
  font-weight: 400;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft .chooseDesButton {
  width: 280px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 3px;
  color: white;
  background-color: #3572ff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft .chooseDesButton .chooseDesButtonImg {
  width: 8px;
  height: 8px;
  margin-left: 16px;
  background-size: cover;
  background-origin: content-box;
  background-image: url(../img/button/pull-white.svg);
  background-position: center;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperLeft .chooseDesButton:hover {
  transform: scale(1.05);
  background-color: #081c3a;
}

.content .chooseDes .chooseDesContainer .chooseDesUpper .chooseDesUpperRight {
  width: 48%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/choose/chooseDes.jpeg);
  border-radius: 3px;
}

.content .chooseDes .chooseDesContainer .chooseDesLower {
  width: 100%;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerTitle {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerTitle .chooseDesLowerTitleText {
  width: 200px;
  line-height: 15px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: start;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerTitle .chooseDesLowerTitleString {
  width: 83%;
  height: 1px;
  margin-top: 7px;
  background-color: rgba(192, 192, 211, 0.2);
  background-position: center center;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox {
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: space-between;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox div:nth-child(1) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox div:nth-child(7) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .verticaLine {
  width: 1px;
  height: 100%;
  background-color: rgba(192, 192, 211, 0.2);
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem {
  width: 25%;
  height: 215px;
  padding: 30px 36px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem .chooseDesLowerBoxItemIcon {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  background-color: #f7f8fc;
  position: relative;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem .chooseDesLowerBoxItemIcon img {
  width: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -13px;
  margin-top: -13px;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem .chooseDesLowerBoxItemContent {
  display: flex;
  height: 95px;
  flex-direction: column;
  justify-content: space-around;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem .chooseDesLowerBoxItemContent .chooseDesLowerBoxItemBig {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem .chooseDesLowerBoxItemContent .chooseDesLowerBoxItemSmall {
  color: #516381;
  font-size: 14px;
  line-height: 1.4em;
}

.content .chooseDes .chooseDesContainer .chooseDesLower .chooseDesLowerBox .chooseDesLowerBoxItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Example shadow */
  border-radius: 12px;
  transform: scale(1.05);
  position: relative;
}

.content .quote {
  width: 100%;
  height: 900px;
  box-sizing: border-box;
  background-color: rgba(15, 19, 38, 0.55);
  background-blend-mode: darken;
  /* Blend the color over the image */
  background-image: url(../img/main/quote.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content .quote .quoteNav {
  position: absolute;
  width: 50px;
  height: 330px;
  left: 100px;
}

.content .quote .quoteNav .quoteNumber {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .quote .quoteNav .quoteNumber .quoteNum {
  width: 100%;
  height: 66px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.content .quote .quoteNav .quoteBar {
  position: absolute;
  width: 4px;
  background-color: #efeff7;
  left: -20px;
  top: -80px;
  border-radius: 3px;
  transition: top 0.3s ease, height 0.3s ease;
}

.content .quote .quoteContent {
  width: 80%;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.content .quote .quoteContent .quoteAll {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  /* Make the first quote visible by default */
}

.content .quote .quoteContent .quoteAll .quote0,
.content .quote .quoteContent .quoteAll .quote1,
.content .quote .quoteContent .quoteAll .quote2,
.content .quote .quoteContent .quoteAll .quote3,
.content .quote .quoteContent .quoteAll .quote4 {
  width: 600px;
  height: 185px;
  text-align: center;
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 0;
  /* Start hidden */
  visibility: hidden;
  /* Keep it hidden from the document flow */
  position: absolute;
  /* Overlay quotes on top of each other */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center horizontally and vertically */
}

.content .quote .quoteContent .quoteAll .quote0 .quotation,
.content .quote .quoteContent .quoteAll .quote1 .quotation,
.content .quote .quoteContent .quoteAll .quote2 .quotation,
.content .quote .quoteContent .quoteAll .quote3 .quotation,
.content .quote .quoteContent .quoteAll .quote4 .quotation {
  font-size: 19px;
  margin-bottom: 40px;
}

.content .quote .quoteContent .quoteAll .quote0 .quotePerson,
.content .quote .quoteContent .quoteAll .quote1 .quotePerson,
.content .quote .quoteContent .quoteAll .quote2 .quotePerson,
.content .quote .quoteContent .quoteAll .quote3 .quotePerson,
.content .quote .quoteContent .quoteAll .quote4 .quotePerson {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.content .quote .quoteContent .quoteAll .quote0 {
  opacity: 1;
  visibility: visible;
}

.content .quote .quoteContent .quoteButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content .quote .quoteContent .quoteButton .quoteButtonIcon {
  width: 60px;
  height: 60px;
  margin: 6px;
  background-color: white;
  border-radius: 50%;
  border-color: #efeff7;
  border-style: solid;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  /* Smooth scaling effect */
}

.content .quote .quoteContent .quoteButton .quoteButtonIcon .quoteButtonImg {
  width: 16px;
}

.content .quote .quoteContent .quoteButtonLeft:hover,
.content .quote .quoteContent .quoteButtonRight:hover {
  transform: scale(1.04);
  background-color: #f7f8fc;
  /* Scale up the button on hover */
}

.content .popVaca {
  height: 724px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content .popVaca .popContainer {
  width: 1364px;
  height: 684px;
  padding-bottom: 140px;
  margin-left: 36px;
  position: absolute;
  top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .popVaca .popContainer .popBorder {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.content .popVaca .popContainer .popBorder .popBorderText {
  width: 400px;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  text-align: start;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
}

.content .popVaca .popContainer .popBorder .popBorderStr {
  margin-top: 7px;
  width: 93%;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.45);
}

.content .popVaca .popContainer .popSelect {
  width: 100%;
  height: 600px;
  padding: 48px 48px 0px 48px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content .popVaca .popContainer .popSelect .popSelector {
  width: 100%;
  height: 60px;
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.content .popVaca .popContainer .popSelect .popSelector #popSelector0,
.content .popVaca .popContainer .popSelect .popSelector #popSelector1,
.content .popVaca .popContainer .popSelect .popSelector #popSelector2,
.content .popVaca .popContainer .popSelect .popSelector #popSelector3 {
  width: 25%;
  height: 25px;
  color: #516381;
  padding: 0px 20px 36px 20px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid #efeff7;
  position: relative;
}

.content .popVaca .popContainer .popSelect .popSelector #popSelector0 {
  border-bottom: 2px solid #081c3a;
}

.content .popVaca .popContainer .popSelect .popSelector .selectorDot0,
.content .popVaca .popContainer .popSelect .popSelector .selectorDot1,
.content .popVaca .popContainer .popSelect .popSelector .selectorDot2,
.content .popVaca .popContainer .popSelect .popSelector .selectorDot3 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 57px;
  left: 50%;
  margin-left: -5px;
  background-color: #efeff7;
  border-radius: 50%;
  z-index: 15;
}

.content .popVaca .popContainer .popSelect .popSelector .selectorDot0 {
  background-color: #081c3a;
}

.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle0,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle1,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle2,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle3 {
  width: 10px;
  height: 10px;
  transition: transform 0.5s ease;
  position: absolute;
  top: 92%;
  left: 50%;
  margin-left: -5px;
  border: 0.5px solid #081c3a;
  border-radius: 50%;
  background-color: white;
  z-index: 5;
}

.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle0.enlarged,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle1.enlarged,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle2.enlarged,
.content .popVaca .popContainer .popSelect .popSelector .selectorDotCircle3.enlarged {
  transform: scale(3);
}

.content .popVaca .popContainer .popSelect .popSelectContent {
  width: 100%;
  height: 671px;
  position: relative;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display {
  transition: all 1s ease;
  /* Added opacity transition */
  visibility: hidden;
  opacity: 0;
  /* Start with the element fully transparent */
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent {
  width: 30%;
  height: 450px;
  margin: 10px;
  padding: 18px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #efeff7;
  border-radius: 14px;
  transition: all 0.8s ease;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectPicsWrapper,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectPicsWrapper,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectPicsWrapper,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectPicsWrapper {
  width: 90%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectPicsWrapper .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectPicsWrapper .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectPicsWrapper .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectPicsWrapper .selectContentPics {
  width: 100%;
  height: 100%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s ease;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectText,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectText,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectText,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectText {
  width: 80%;
  height: 80px;
  padding: 10px;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectText .selectTextTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectText .selectTextTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectText .selectTextTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectText .selectTextTitle {
  height: 28px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectText .selectTextContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectText .selectTextContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectText .selectTextContent,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectText .selectTextContent {
  height: 62px;
  color: #516381;
  font-size: 14px;
  line-height: 1.4em;
  display: flex;
  align-items: center;
  /* Aligns the text vertically */
  justify-content: center;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder {
  width: 90%;
  height: 42px;
  padding: 18px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efeff7;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder .selectPricing,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder .selectPricing,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder .selectPricing,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder .selectPricing {
  width: 100px;
  height: 20px;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder .selectPricing .selectPricingTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder .selectPricing .selectPricingTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder .selectPricing .selectPricingTitle,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder .selectPricing .selectPricingTitle {
  font-size: 8px;
  height: 10px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder .selectPricing .selectPricingRate,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder .selectPricing .selectPricingRate,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder .selectPricing .selectPricingRate,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder .selectPricing .selectPricingRate {
  height: 18px;
  font-size: 14px;
  line-height: 20px;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder .selectDetail,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder .selectDetail,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder .selectDetail,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder .selectDetail {
  width: 65px;
  height: 18px;
  line-height: 18px;
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 18px;
  border: 1px solid #efeff7;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent .selectOrder .selectDetail:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent .selectOrder .selectDetail:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent .selectOrder .selectDetail:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent .selectOrder .selectDetail:hover {
  border-color: #081c3a;
  background-color: #081c3a;
  color: #fff;
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent:hover,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent:hover {
  transform: scale(1.05);
  border-color: transparent;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
  /* Optional: Add shadow for a more prominent effect */
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display .selectContent:hover .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector1Display .selectContent:hover .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector2Display .selectContent:hover .selectContentPics,
.content .popVaca .popContainer .popSelect .popSelectContent #popSelector3Display .selectContent:hover .selectContentPics {
  transform: scale(1.1);
}

.content .popVaca .popContainer .popSelect .popSelectContent #popSelector0Display {
  visibility: visible;
  opacity: 1;
  /* Make the element fully visible */
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentEgPics1 {
  background-image: url(../img/eg/eg1.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentEgPics2 {
  background-image: url(../img/eg/eg2.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentEgPics3 {
  background-image: url(../img/eg/eg3.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentGrPics1 {
  background-image: url(../img/gr/gr1.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentGrPics2 {
  background-image: url(../img/gr/gr2.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentGrPics3 {
  background-image: url(../img/gr/gr3.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentInPics1 {
  background-image: url(../img/in/in1.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentInPics2 {
  background-image: url(../img/in/in2.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentInPics3 {
  background-image: url(../img/in/in3.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentFrPics1 {
  background-image: url(../img/fr/fr1.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentFrPics2 {
  background-image: url(../img/fr/fr2.jpeg);
}

.content .popVaca .popContainer .popSelect .popSelectContent .selectContentFrPics3 {
  background-image: url(../img/fr/fr3.jpeg);
}

.content .promise {
  height: 583px;
}

.content .promise .promiseBcg {
  height: 583px;
  margin-left: 80px;
  background-color: rgba(15, 19, 38, 0.55);
  background-blend-mode: darken;
  background-image: url(../img/main/promise.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .promise .promiseBcg .promiseTextContainer {
  width: 60%;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content .promise .promiseBcg .promiseTextContainer .promiseTitle {
  height: 15.4px;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
}

.content .promise .promiseBcg .promiseTextContainer .promiseText {
  width: 750px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-align: center;
}

.content .promise .promiseBcg .promiseTextContainer .promiseTag {
  width: 373px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.content .promise .promiseBcg .promiseTextContainer .promiseTag .promiseContact {
  width: 114px;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3px;
  padding: 16px 32px;
  color: #081c3a;
  box-sizing: content-box;
  cursor: pointer;
  transition: all 1s ease;
}

.content .promise .promiseBcg .promiseTextContainer .promiseTag .promiseWork {
  width: 113px;
  color: white;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.5px solid white;
  border-radius: 3px;
  padding: 16px 32px;
  box-sizing: content-box;
  cursor: pointer;
  transition: all 1s ease;
}

.content .promise .promiseBcg .promiseTextContainer .promiseTag .promiseWork:hover {
  transform: scale(1.02);
  border: 1px solid white;
}

.content .plan {
  display: flex;
  padding: 140px 0px;
  justify-content: center;
}

.content .plan .planContainer {
  width: 85%;
  height: auto;
  /* Auto height to adjust based on content */
  padding-left: 36px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.content .plan .planContainer .planLeft {
  width: 35%;
  height: 600px;
  background-color: rgba(192, 192, 211, 0.2);
  padding: 18px 18px 36px 18px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .plan .planContainer .planLeft .planLeftPics {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/main/plan.jpeg);
  border-radius: 5px;
}

.content .plan .planContainer .planLeft .planLeftContent {
  width: 80%;
  height: 318px;
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .plan .planContainer .planLeft .planLeftContent .planLeftTitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .plan .planContainer .planLeft .planLeftContent .planLeftSub {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.content .plan .planContainer .planLeft .planLeftContent .planLeftText {
  line-height: 1.6em;
  font-weight: 400;
  color: #516381;
  font-size: 19px;
}

.content .plan .planContainer .planLeft .planLeftContent .planLeftTag {
  width: 220px;
  height: 20px;
  line-height: 20px;
  padding: 16px 32px;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  background-color: #3572ff;
  color: #fff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: content-box;
  cursor: pointer;
}

.content .plan .planContainer .planLeft .planLeftContent .planLeftTag:hover {
  transition: all 1s ease;
  transform: scale(1.03);
  background-color: #081c3a;
}

.content .plan .planContainer .planRight {
  width: 45%;
  height: 800px;
  overflow: scroll;
  scroll-behavior: smooth;
  /* Enables smooth scrolling for links */
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling with inertia */
}

.content .plan .planContainer .planRight .planRightTop {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .plan .planContainer .planRight .planRightTop .planRightTitle {
  width: 22%;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .plan .planContainer .planRight .planRightTop .planRightTitleStr {
  width: 80%;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.2);
  margin-top: 8px;
}

.content .plan .planContainer .planRight .planRightBottomContainer {
  position: relative;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightBottom {
  width: 80%;
  height: 1464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 100px;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightBottom .planRightTextBox {
  width: 88%;
  height: 247px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px #efeff7 solid;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightBottom .planRightTextBox .planRightNum {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 100%;
  background-color: #f7f8fc;
  color: #516381;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightBottom .planRightTextBox .planRightTitle {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightBottom .planRightTextBox .planRightText {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planRightLeft {
  width: 2px;
  height: 1343px;
  margin: 80px 0px;
  border-radius: 100px;
  background-color: rgba(192, 192, 211, 0.2);
  position: absolute;
  left: 25px;
  top: -20px;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planCircle {
  height: 1343px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 60px;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planCircle .planCircleOuter {
  width: 48px;
  height: 48px;
  border: 2px #efeff7 solid;
  border-radius: 50%;
  background-color: white;
}

.content .plan .planContainer .planRight .planRightBottomContainer .planCircle .planCircleOuter .planCircleInner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #efeff7;
  margin: 0 auto;
  margin-top: 18px;
}

.content .plan .planContainer ::-webkit-scrollbar {
  display: none;
  /* This hides the scrollbar */
}

.content .aboutSection .about {
  margin-left: 80px;
  height: 487px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .aboutSection .about .aboutContainer {
  width: 80%;
  height: 247px;
  padding: 140px 0px 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content .aboutSection .about .aboutContainer .aboutTop {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .aboutSection .about .aboutContainer .aboutBottom {
  display: flex;
  justify-content: space-between;
}

.content .aboutSection .about .aboutContainer .aboutBottom .aboutTextLeft {
  width: 45%;
  height: 178px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.content .aboutSection .about .aboutContainer .aboutBottom .aboutTextRight {
  width: 45%;
  height: 178px;
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.content .aboutSection .caroBottom {
  margin-left: 80px;
  position: relative;
  overflow: hidden;
}

.content .aboutSection .caroBottom .caroBottomContainer {
  width: 100%;
  height: calc((100vw - 80px) / 4);
  margin: 0 auto;
  display: flex;
  position: relative;
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL {
  display: flex;
  position: absolute;
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics {
  width: calc((100vw - 80px) / 4);
  height: calc((100vw - 80px) / 4);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  /* Ensures padding doesn't affect the size calculation */
  transform: translateX(calc((100vw - 80px) / 4 * -1));
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics1 {
  background-image: url(../img/bottomCaro/1.jpeg);
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics2 {
  background-image: url(../img/bottomCaro/2.jpeg);
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics3 {
  background-image: url(../img/bottomCaro/3.jpeg);
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics4 {
  background-image: url(../img/bottomCaro/4.jpeg);
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics5 {
  background-image: url(../img/bottomCaro/5.jpeg);
}

.content .aboutSection .caroBottom .caroBottomContainer .caroBottomUL .caroBottomPics6 {
  background-image: url(../img/bottomCaro/6.jpeg);
}

.content .meet {
  margin-left: 80px;
  height: 831px;
  background-color: #f7f8fc;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content .meet .meetContainer {
  width: 90%;
  height: 531px;
  padding: 100px 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .meet .meetContainer .meetTop {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.content .meet .meetContainer .meetTop .meetTopText {
  width: 22%;
  text-align: center;
  line-height: 40px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .meet .meetContainer .meetTop .meetTopStr {
  width: 64%;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.2);
  margin-top: 19px;
}

.content .meet .meetContainer .meetTop .meetTopTag {
  width: 8%;
  text-align: center;
  padding: 9px 18px;
  height: 20px;
  line-height: 20px;
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: all 1s ease;
}

.content .meet .meetContainer .meetTop .meetTopTag:hover {
  border-color: #081c3a;
  background-color: #081c3a;
  color: #fff;
}

.content .meet .meetContainer .meetBottom {
  width: 100%;
  height: 455px;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer {
  width: 100%;
  height: 453px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 12px;
  display: flex;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent {
  width: 25%;
  height: 406px;
  padding: 18px 18px 30px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
  transition: all 0.8s ease;
  /* Smooth transition for scaling and shadow */
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPicWrapper {
  width: 80%;
  height: 80%;
  overflow: hidden;
  /* Ensures the image doesn't overflow outside the wrapper */
  border-radius: 12px;
  /* Ensures the corners stay rounded */
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.8s ease;
  /* Smooth transition for scaling */
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPic1 {
  background-image: url(../img/agent/1.jpeg);
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPic2 {
  background-image: url(../img/agent/2.jpeg);
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPic3 {
  background-image: url(../img/agent/3.jpeg);
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentPic4 {
  background-image: url(../img/agent/4.jpeg);
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentInfo .agentName {
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent .agentInfo .agentPlace {
  color: #516381;
  font-size: 14px;
  line-height: 20px;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent:hover {
  border-radius: 12px;
  position: relative;
  transform: scale(1.05);
  /* Enlarge the entire .meetAgent box */
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
  /* Optional: Add shadow for a more prominent effect */
  /* Scale the .agentPic inside .meetAgent on hover */
}

.content .meet .meetContainer .meetBottom .meetBottomContainer .meetAgent:hover .agentPic {
  transform: scale(1.1);
  /* Slightly zoom the background image */
}

.content .post {
  height: 700px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content .post .postContainer {
  width: 70%;
  height: 652px;
  padding: 48px 48px 0px 48px;
  margin: 60px 0px 60px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: absolute;
  top: -150px;
  border-radius: 5px;
}

.content .post .postContainer .postLeft {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content .post .postContainer .postLeft .postMainWrapper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.content .post .postContainer .postLeft .postMainWrapper .postMainPic {
  width: 100%;
  height: 676px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/100/main.jpeg);
  transition: transform 1s ease;
}

.content .post .postContainer .postLeft .postMainWrapper:hover .postMainPic {
  transform: scale(1.08);
}

.content .post .postContainer .postLeft .postMainText {
  width: 30%;
  height: 40%;
  background-color: white;
  position: absolute;
  border-radius: 12px;
  padding: 0px 36px 36px 36px;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
  top: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .post .postContainer .postLeft .postMainText .postDate {
  height: 10px;
  align-items: center;
  padding: 8px 10px 8px 12px;
  border-radius: 5px;
  background-color: #f7f8fc;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  top: -4%;
  left: 6%;
}

.content .post .postContainer .postLeft .postTitle {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.content .post .postContainer .postLeft .postText {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.content .post .postContainer .postLeft .postRead {
  width: 100px;
  height: 20px;
  line-height: 20px;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 3px;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 18px;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease;
}

.content .post .postContainer .postLeft .postRead:hover {
  border-color: #081c3a;
  background-color: #081c3a;
  color: #fff;
}

.content .post .postContainer .postRight {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .post .postContainer .postRight .postRightTop {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-around;
}

.content .post .postContainer .postRight .postRightTop .postRightTopText {
  width: 22%;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .post .postContainer .postRight .postRightTop .postRightTopStr {
  width: 73%;
  margin-top: 7px;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.2);
}

.content .post .postContainer .postRight .postRighBottom {
  width: 100%;
  height: 613px;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock {
  width: 100%;
  height: 144px;
  padding: 6px;
  display: flex;
  justify-content: space-around;
  transition: all 0.8s ease;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper {
  width: 30%;
  height: 132px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper .postBlockPic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.8s ease;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper .postBlockPic1 {
  background-image: url(../img/100/1.jpeg);
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper .postBlockPic2 {
  background-image: url(../img/100/2.jpeg);
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper .postBlockPic3 {
  background-image: url(../img/100/3.jpeg);
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockWrapper .postBlockPic4 {
  background-image: url(../img/100/4.jpeg);
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockInfo {
  width: 50%;
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockInfo .postBlockDate {
  width: 110px;
  height: 10px;
  padding: 8px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f8fc;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock .postBlockInfo .postBlockText {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock:hover {
  box-shadow: 0 6px 24px -4px rgba(53, 64, 117, 0.12);
  /* Example shadow */
  border-radius: 12px;
  transform: scale(1.03);
  position: relative;
  cursor: pointer;
}

.content .post .postContainer .postRight .postRighBottom .postBottomBlock:hover .postBlockPic {
  transform: scale(1.1);
}
