* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  color: #081c3a;
  line-height: 1.6em;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.navBar {
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  position: fixed;
  z-index: 96;
  top: 0px;
}

.navBar .navBlank {
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.navBar .navMain {
  width: 100%;
  line-height: 80px;
  text-align: center;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: space-between;
}

.navBar .navMain .navLogo {
  width: 350px;
  font-family: Eudoxussans, sans-serif;
  font-size: 22px;
  font-weight: 800;
}

.navBar .navMain .navLogo .navLogoThin {
  font-weight: 500;
}

.navBar .navMain .navDesButton {
  width: 175px;
  height: 44px;
  display: flex;
  padding: 12px 18px;
  margin-top: 18px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgba(192, 192, 211, 0.2);
  cursor: pointer;
  box-sizing: border-box;
}

.navBar .navMain .navDesButton .navDesButtonText {
  transition: all 0.5s ease;
  width: fit-content;
  color: white;
  font-size: 10px;
  letter-spacing: 3px;
}

.navBar .navMain .navDesButton .navDesButtonImg {
  transition: all 0.5s ease;
  width: 8px;
  height: 8px;
  margin-left: 16px;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  background-image: url(../img/button/pull-white.svg);
}

.navLeftBorder {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 80px;
  z-index: 96;
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.navLeftBorder .scrollBar {
  width: 100%;
  height: 70%;
}

.navLeftBorder .scrollBar .scrollBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.navLeftBorder .scrollBar .scrollBarContainer .scrollBarBig {
  width: 3px;
  height: 80%;
  border-radius: 100px;
  background-color: rgba(192, 192, 211, 0.2);
  position: relative;
}

.navLeftBorder .scrollBar .scrollBarContainer .scrollBarBig .scrollBarSmall {
  width: 3px;
  height: 20%;
  border-radius: 100px;
  background-color: #d2d2e0;
  position: absolute;
  top: 0;
}

.navLeftBorder .social {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLeftBorder .social .socialContainer {
  width: 30px;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navLeftBorder .social .socialContainer .socialImg {
  width: 30px;
  height: 30px;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 100px;
  background-color: rgba(174, 174, 192, 0.05);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  transition: all 0.8s ease;
  cursor: pointer;
}

.navLeftBorder .social .socialContainer .socialImgIns {
  background-image: url(../img/social/ins.svg);
}

.navLeftBorder .social .socialContainer .socialImgMeta {
  background-image: url(../img/social/meta.svg);
}

.navLeftBorder .social .socialContainer .socialImgLink {
  background-image: url(../img/social/link.svg);
}

.navLeftBorder .social .socialContainer .socialImg:hover {
  border-color: #3572ff;
  background-color: #3572ff;
  transform: scale(1.03);
}

.navBarLeft {
  width: 448px;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 98;
  transform: translateX(-448px);
  /* Move it off-screen to the left */
  transition: transform 0.8s ease, visibility 0.8s ease;
}

.navBarLeft .navBarLeftContainer {
  width: 448px;
  padding-top: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.navBarLeft .navBarLeftContainer .navBarLeftTitle {
  width: 368px;
  padding-left: 80px;
  height: 44px;
}

.navBarLeft .navBarLeftContainer .navBarLeftTitle h2 {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent {
  width: 436px;
  height: calc(100vh - 160px);
  margin-right: 12px;
  position: absolute;
  top: 200px;
  overflow: scroll;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer {
  width: 317px;
  height: 1220px;
  padding: 0px 24px 36px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftConti {
  height: 346px;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftDes {
  height: 453px;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftConti,
.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftDes {
  width: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseUpper {
  width: 317px;
  height: 15.5px;
  display: flex;
  justify-content: space-between;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseUpper .chooseUpperText {
  width: 195px;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseUpper .chooseUpperStr {
  width: 121px;
  margin-top: 7px;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.2);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLowerCon {
  height: 313px;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLowerDes {
  height: 420px;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper {
  width: 315px;
  height: 96px;
  border: 1px rgba(192, 192, 211, 0.2) solid;
  overflow: hidden;
  border-radius: 4px;
  transform: 0.8s ease;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper .chooseLowerBox {
  height: 100%;
  padding: 24px 18px 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.8s ease, transform 0.8s ease;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper .chooseLowerBox .chooseBoxTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper .chooseLowerBox .chooseBoxText {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover {
  transform: scale(1.08);
  color: white;
  cursor: pointer;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBox {
  transform: scale(1.08);
  background-color: rgba(15, 19, 38, 0.55);
  background-blend-mode: darken;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBoxAfrica {
  background-image: url(../img/eg/eg1.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBoxAsia {
  background-image: url(../img/caro/rotate2.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerEuro {
  background-image: url(../img/main/europe.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerFrance {
  background-image: url(../img/caro/rotate1.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBoxIndo {
  background-image: url(../img/caro/rotate2.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBoxGreece {
  background-image: url(../img/caro/rotate3.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .chooseLower .lowerWrapper:hover .chooseLowerBoxEgypt {
  background-image: url(../img/caro/rotate4.jpeg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftContact {
  width: 317px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftContact .contactLower {
  width: 317px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftContact .contactLower .contactBoxContainer {
  width: 279px;
  height: 24px;
  padding: 18px;
  border: 1px rgba(192, 192, 211, 0.2) solid;
  border-radius: 5px;
  background-color: #f7f8fc;
  cursor: pointer;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftContact .contactLower .contactBoxContainer .contactBoxContent {
  width: 80%;
  font-size: 14px;
  line-height: 24px;
  transition: transform 0.3s ease;
  /* Adding the transition property here */
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftContact .contactLower .contactBoxContainer:hover .contactBoxContent {
  transform: translateX(10px);
  /* Applying the transform on hover */
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow {
  width: 317px;
  height: 32px;
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: auto 1fr;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followText {
  width: 98px;
  height: 32px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial {
  width: 108px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial .followImg {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 9px;
  box-sizing: border-box;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 100px;
  background-color: #f7f8fc;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 1s ease;
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial .followImg:hover {
  transform: scale(1.05);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial .followImgIns {
  background-image: url(../img/social/black-insta.svg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial .followImgMeta {
  background-image: url(../img/social/black-meta.svg);
}

.navBarLeft .navBarLeftContainer .navBarLeftContent .navBarLeftContentContainer .navBarLeftFollow .followSocial .followImgLink {
  background-image: url(../img/social/black-in.svg);
}

.navLinkFront {
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  cursor: pointer;
  position: fixed;
  z-index: 99;
}

.navLinkFront .minus {
  width: 30px;
  height: 12px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/button/minus.svg);
  background-origin: content-box;
}

.navLinkFront .minusNone {
  display: none;
}

.navLinkFront .cross {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/button/cross.svg);
  background-origin: content-box;
}

.navLinkFront .crossNone {
  display: none;
}

.navTab {
  width: 100%;
  height: 0px;
  /* Default height set to 80px */
  background-color: white;
  position: fixed;
  z-index: 95;
  transition: height 1s ease;
  /* Use flexbox for vertical and horizontal centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTab .navTabContainer {
  transition: opacity 0.3s ease;
  /* Smooth visibility transition */
  opacity: 0;
  /* Start hidden */
  height: 80px;
  width: 370px;
  line-height: 80px;
  color: #081c3a;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
}
